<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container *ngFor="let item of languages" matColumnDef="{{item}}">
            <th mat-header-cell *matHeaderCellDef> {{ item }} </th>
            <td mat-cell *matCellDef="let element"> {{getTextByLang(item, element)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>


<!-- <p>jfjhgc</p>

<input type="text" [(ngModel)]="inputed.word" name="name">
<span>{{ inputed.word }}</span>

<button (click)="loadTranslate()">Перевести</button>

<span *ngIf="result">
    {{result.translatedText}}
</span> -->